# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Output
*.json
*.nc

# IDE
.vscode/
.idea/
